@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fraunces:opsz,wght@9..144,700&family=Merriweather:ital@0;1&family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: 'Montserrat','Fraunces';
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 30px auto;
    padding: 0 30px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    background-color: #fff;
    border-radius: 15px;
}

.content img{
    max-width: 100%;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
}

.content .product{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product h6{
    letter-spacing: 3px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

.product h1{
    font-family:'Fraunces';
    font-size: 34px;
    line-height: 1em;
    color: hsl(212, 21%, 14%);
}

.product p{
    color: hsl(228, 12%, 48%);
    line-height: 1.5em;
    font-size: 17px;
}

.product .price{
    display: flex;
    align-items: center;
}

.product .price h1{
    margin-right: 35px;
    color:  hsl(158, 36%, 37%);
    font-family:'Fraunces';
}

.product .price h3{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

button.btn{
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 15px;
    border-radius: 12px;
    text-align:center;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .3s ease;

}

button.btn:hover{
    background-color: hsl(158, 50%, 22%);
}

button.btn img{
    padding-right: 7px;
}

@media only screen and (max-width: 648px){
        .content{
            display: grid;
            grid-template-columns: 1fr;
        }

        .content img{
            max-height: 400px;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }

        button.btn img{
            display: none;
        }

        .content h6,h1,h2,p{
            padding-bottom: 20px;
        }
}